.mediaViewInfo {
	--web-view-name: Web 1920 – 6;
	--web-view-id: Web_1920__6;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Web_1920__6;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Web_1920__6 {
	position: absolute;
	width: 1920px;
	height: 1076px;
	background-color: rgba(252,252,252,1);
	overflow: hidden;
	--web-view-name: Web 1920 – 6;
	--web-view-id: Web_1920__6;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#Group_15855 {
	position: absolute;
	width: 1199.716px;
	height: 670.186px;
	left: 360.142px;
	top: 178.814px;
	overflow: visible;
}
#Group_89 {
	position: absolute;
	width: 1199.716px;
	height: 670.186px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Card_Base {
	fill: rgba(255,255,255,1);
}
.Card_Base {
	filter: drop-shadow(0px 3px 20px rgba(0, 0, 0, 0.031));
	position: absolute;
	overflow: visible;
	width: 620px;
	height: 730.186px;
	left: 639.716px;
	top: 0px;
}
#Card_Base_n {
	fill: rgba(255,255,255,1);
}
.Card_Base_n {
	filter: drop-shadow(0px 3px 20px rgba(0, 0, 0, 0.031));
	position: absolute;
	overflow: visible;
	width: 1257.716px;
	height: 730.186px;
	left: 2px;
	top: 0px;
}
#Group_12 {
	position: absolute;
	width: 272.784px;
	height: 490.186px;
	left: 783.716px;
	top: 91px;
	overflow: visible;
}
#Sign_up_ {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 104px;
	white-space: nowrap;
	line-height: 32px;
	margin-top: -2px;
	text-align: left;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	color: rgba(46,56,77,1);
}
#Group_6 {
	position: absolute;
	width: 272px;
	height: 59px;
	left: 0px;
	top: 101.208px;
	overflow: visible;
}
#Full_Name {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 56px;
	white-space: nowrap;
	text-align: left;
	font-family: Circular Std Book;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(140,152,169,1);
	text-transform: capitalize;
}
#Group_3 {
	position: absolute;
	width: 272px;
	height: 40px;
	left: 0px;
	top: 19px;
	overflow: visible;
}
#Rectangle {
	fill: rgba(224,231,255,0.2);
	stroke: rgba(224,231,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 100;
	shape-rendering: auto;
}
.Rectangle {
	position: absolute;
	overflow: visible;
	width: 272px;
	height: 40px;
	left: 0px;
	top: 0px;
}
#Andrew_Johnson {
	left: 13px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 183px;
	height: 18px;
	line-height: 18px;
	margin-top: -2.5px;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(46,56,77,1);
}
#Group_4 {
	position: absolute;
	width: 272px;
	height: 60px;
	left: 0px;
	top: 264.649px;
	overflow: visible;
}
#Date_of_Birth {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 68px;
	white-space: nowrap;
	text-align: left;
	font-family: Circular Std Book;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(140,152,169,1);
}
#Group_1 {
	position: absolute;
	width: 272px;
	height: 40px;
	left: 0px;
	top: 20px;
	overflow: visible;
}
#Rectangle_y {
	fill: rgba(224,231,255,0.2);
	stroke: rgba(224,231,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 100;
	shape-rendering: auto;
}
.Rectangle_y {
	position: absolute;
	overflow: visible;
	width: 84px;
	height: 40px;
	left: 0px;
	top: 0px;
}
#Rectangle_z {
	fill: rgba(224,231,255,0.2);
	stroke: rgba(224,231,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 100;
	shape-rendering: auto;
}
.Rectangle_z {
	position: absolute;
	overflow: visible;
	width: 84px;
	height: 40px;
	left: 94px;
	top: 0px;
}
#Rectangle_ {
	fill: rgba(224,231,255,0.2);
	stroke: rgba(224,231,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 100;
	shape-rendering: auto;
}
.Rectangle_ {
	position: absolute;
	overflow: visible;
	width: 84px;
	height: 40px;
	left: 188px;
	top: 0px;
}
#ID04 {
	left: 12px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 61px;
	height: 18px;
	line-height: 18px;
	margin-top: -2.5px;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(46,56,77,1);
}
#ID20 {
	left: 105px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 63px;
	height: 18px;
	line-height: 18px;
	margin-top: -2.5px;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(46,56,77,1);
}
#ID1969 {
	left: 197px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 67px;
	height: 18px;
	line-height: 18px;
	margin-top: -2.5px;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(46,56,77,1);
}
#IconCaret {
	opacity: 0.66;
	position: absolute;
	width: 10px;
	height: 5.873px;
	left: 63px;
	top: 17px;
	overflow: visible;
}
#Caret {
	fill: rgba(46,56,77,1);
}
.Caret {
	overflow: visible;
	position: absolute;
	width: 10px;
	height: 5.873px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Mask_by_Caret {
	position: absolute;
	width: 10px;
	height: 5.873px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#IconCaret_ {
	opacity: 0.66;
	position: absolute;
	width: 10px;
	height: 5.873px;
	left: 161px;
	top: 17px;
	overflow: visible;
}
#Caret_ {
	fill: rgba(46,56,77,1);
}
.Caret_ {
	overflow: visible;
	position: absolute;
	width: 10px;
	height: 5.873px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Mask_by_Caret_ {
	position: absolute;
	width: 10px;
	height: 5.873px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#IconCaret_ba {
	opacity: 0.66;
	position: absolute;
	width: 10px;
	height: 5.873px;
	left: 253px;
	top: 17px;
	overflow: visible;
}
#Caret_bb {
	fill: rgba(46,56,77,1);
}
.Caret_bb {
	overflow: visible;
	position: absolute;
	width: 10px;
	height: 5.873px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Mask_by_Caret_bc {
	position: absolute;
	width: 10px;
	height: 5.873px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_5 {
	position: absolute;
	width: 272px;
	height: 59px;
	left: 0px;
	top: 183.438px;
	overflow: visible;
}
#Gender {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	text-align: left;
	font-family: Circular Std Book;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(140,152,169,1);
	text-transform: capitalize;
}
#Group_2 {
	position: absolute;
	width: 272px;
	height: 40px;
	left: 0px;
	top: 19px;
	overflow: visible;
}
#Rectangle_bg {
	fill: rgba(224,231,255,0.2);
	stroke: rgba(224,231,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 100;
	shape-rendering: auto;
}
.Rectangle_bg {
	position: absolute;
	overflow: visible;
	width: 272px;
	height: 40px;
	left: 0px;
	top: 0px;
}
#I_am_a {
	left: 13px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 183px;
	height: 18px;
	line-height: 18px;
	margin-top: -2.5px;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(46,56,77,1);
}
#Mask_by_Caret_bi {
	position: absolute;
	width: 10px;
	height: 5.873px;
	left: 248px;
	top: 18px;
	overflow: visible;
}
#Group_7 {
	position: absolute;
	width: 272px;
	height: 40px;
	left: 0px;
	top: 421.186px;
	overflow: visible;
}
#Rectangle_bk {
	fill: rgba(46,91,255,1);
}
.Rectangle_bk {
	position: absolute;
	overflow: visible;
	width: 272px;
	height: 40px;
	left: 0px;
	top: 0px;
}
#Continue {
	left: 105px;
	top: 15px;
	position: absolute;
	overflow: visible;
	width: 64px;
	white-space: nowrap;
	line-height: 32px;
	margin-top: -10px;
	text-align: left;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
	text-transform: uppercase;
}
#Group_17 {
	position: absolute;
	width: 272px;
	height: 24.5px;
	left: 0.784px;
	top: 53px;
	overflow: visible;
}
#Personal_Info {
	left: 0.216px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 95px;
	white-space: nowrap;
	line-height: 32px;
	margin-top: -8px;
	text-align: left;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(46,56,77,1);
}
#Line_1 {
	fill: transparent;
	stroke: rgba(46,91,255,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_1 {
	overflow: visible;
	position: absolute;
	width: 132px;
	height: 2px;
	left: 0px;
	top: 24.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_93 {
	position: absolute;
	width: 132px;
	height: 24.5px;
	left: 140px;
	top: 0px;
	overflow: visible;
}
#Account_Details {
	opacity: 0.66;
	left: 0.216px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 112px;
	white-space: nowrap;
	line-height: 32px;
	margin-top: -8px;
	text-align: left;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(46,56,77,1);
}
#Line_4 {
	fill: transparent;
	stroke: rgba(224,231,255,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_4 {
	overflow: visible;
	position: absolute;
	width: 132px;
	height: 2px;
	left: 0px;
	top: 24.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Already_have_an_account_Sign_I {
	left: 43px;
	top: 478.186px;
	position: absolute;
	overflow: visible;
	width: 184px;
	white-space: nowrap;
	text-align: left;
	font-family: Circular Std Book;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(140,152,169,1);
	text-transform: capitalize;
}
#Group_11 {
	position: absolute;
	width: 272px;
	height: 59px;
	left: 0px;
	top: 347.901px;
	overflow: visible;
}
#How_did_you_hear_about_us_ {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 166px;
	white-space: nowrap;
	text-align: left;
	font-family: Circular Std Book;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(140,152,169,1);
	text-transform: capitalize;
}
#Group_3_bv {
	position: absolute;
	width: 272px;
	height: 40px;
	left: 0px;
	top: 19px;
	overflow: visible;
}
#Rectangle_bw {
	fill: rgba(224,231,255,0.2);
	stroke: rgba(224,231,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 100;
	shape-rendering: auto;
}
.Rectangle_bw {
	position: absolute;
	overflow: visible;
	width: 272px;
	height: 40px;
	left: 0px;
	top: 0px;
}
#Google_Referral_TV_or_Other {
	left: 13px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 183px;
	height: 18px;
	line-height: 18px;
	margin-top: -2.5px;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(46,56,77,1);
}
#Card_Base_by {
	fill: rgba(249,250,255,1);
}
.Card_Base_by {
	filter: drop-shadow(0px 3px 20px rgba(0, 0, 0, 0.031));
	position: absolute;
	overflow: visible;
	width: 660px;
	height: 730.186px;
	left: 0px;
	top: 0px;
}
#Atomic_Acconunts {
	left: 68px;
	top: 51px;
	position: absolute;
	overflow: visible;
	width: 224px;
	white-space: nowrap;
	line-height: 32px;
	margin-top: -2px;
	text-align: left;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	color: rgba(35,77,232,1);
	text-transform: capitalize;
}
#Personal_Info_b {
	position: absolute;
	width: 504.221px;
	height: 284.703px;
	left: 48px;
	top: 193.115px;
	overflow: visible;
}
#Path_192 {
	fill: rgba(35,77,232,1);
}
.Path_192 {
	overflow: visible;
	position: absolute;
	width: 492.495px;
	height: 280.095px;
	left: 11.727px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_193 {
	fill: rgba(117,161,222,1);
}
.Path_193 {
	overflow: visible;
	position: absolute;
	width: 56.382px;
	height: 7.537px;
	left: 308.565px;
	top: 270.577px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_68 {
	position: absolute;
	width: 110.056px;
	height: 33.613px;
	left: 230.693px;
	top: 242.52px;
	overflow: visible;
}
#Path_194 {
	fill: rgba(240,153,89,1);
}
.Path_194 {
	overflow: visible;
	position: absolute;
	width: 69.724px;
	height: 29px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_195 {
	fill: rgba(240,153,89,1);
}
.Path_195 {
	overflow: visible;
	position: absolute;
	width: 52.72px;
	height: 20.712px;
	left: 57.336px;
	top: 12.901px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_196 {
	fill: rgba(227,133,64,1);
}
.Path_196 {
	overflow: visible;
	position: absolute;
	width: 32.911px;
	height: 10.523px;
	left: 73.27px;
	top: 21.412px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_197 {
	fill: rgba(240,153,89,1);
}
.Path_197 {
	overflow: visible;
	position: absolute;
	width: 43.913px;
	height: 14.449px;
	left: 54.858px;
	top: 18.721px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_198 {
	fill: rgba(162,223,242,1);
}
.Path_198 {
	overflow: visible;
	position: absolute;
	width: 111.024px;
	height: 150.247px;
	left: 150.713px;
	top: 133.152px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_199 {
	fill: rgba(150,207,224,1);
}
.Path_199 {
	overflow: visible;
	position: absolute;
	width: 100.89px;
	height: 129.326px;
	left: 150.717px;
	top: 151.137px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_200 {
	fill: rgba(255,255,255,1);
}
.Path_200 {
	overflow: visible;
	position: absolute;
	width: 30.403px;
	height: 30.245px;
	left: 198.883px;
	top: 133.08px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_201 {
	fill: rgba(240,153,89,1);
}
.Path_201 {
	overflow: visible;
	position: absolute;
	width: 33.772px;
	height: 62.368px;
	left: 201.536px;
	top: 96.747px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_202 {
	fill: rgba(227,133,64,1);
}
.Path_202 {
	overflow: visible;
	position: absolute;
	width: 18.081px;
	height: 57.154px;
	left: 214.2px;
	top: 95.098px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_203 {
	fill: rgba(240,153,89,1);
}
.Path_203 {
	overflow: visible;
	position: absolute;
	width: 40.509px;
	height: 52.324px;
	left: 214.545px;
	top: 84.142px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_204 {
	fill: rgba(240,153,89,1);
}
.Path_204 {
	overflow: visible;
	position: absolute;
	width: 90.45px;
	height: 104.587px;
	left: 129.253px;
	top: 158.865px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_205 {
	fill: rgba(162,223,242,1);
}
.Path_205 {
	overflow: visible;
	position: absolute;
	width: 56.639px;
	height: 76.873px;
	left: 138.851px;
	top: 148.349px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_69 {
	position: absolute;
	width: 40.827px;
	height: 22.834px;
	left: 140.934px;
	top: 199.163px;
	overflow: visible;
}
#Path_206 {
	fill: rgba(255,255,255,1);
}
.Path_206 {
	overflow: visible;
	position: absolute;
	width: 37.478px;
	height: 17.275px;
	left: 0px;
	top: 5.559px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_207 {
	fill: rgba(255,255,255,1);
}
.Path_207 {
	overflow: visible;
	position: absolute;
	width: 37.564px;
	height: 15.432px;
	left: 3.263px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_208 {
	fill: rgba(117,161,222,1);
}
.Path_208 {
	overflow: visible;
	position: absolute;
	width: 26.704px;
	height: 38.038px;
	left: 228.702px;
	top: 219.303px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_209 {
	fill: rgba(240,153,89,1);
}
.Path_209 {
	overflow: visible;
	position: absolute;
	width: 48.901px;
	height: 26.643px;
	left: 205.577px;
	top: 228.642px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_210 {
	fill: rgba(227,133,64,1);
}
.Path_210 {
	overflow: visible;
	position: absolute;
	width: 26.997px;
	height: 8.768px;
	left: 140.193px;
	top: 230.724px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_211 {
	fill: rgba(103,145,201,1);
}
.Path_211 {
	overflow: visible;
	position: absolute;
	width: 39.365px;
	height: 104.614px;
	left: 396.083px;
	top: 174.659px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_212 {
	fill: rgba(149,190,245,1);
}
.Path_212 {
	overflow: visible;
	position: absolute;
	width: 35.299px;
	height: 102.353px;
	left: 407.877px;
	top: 152.665px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_213 {
	fill: rgba(117,161,222,1);
}
.Path_213 {
	overflow: visible;
	position: absolute;
	width: 31.172px;
	height: 101.792px;
	left: 412.173px;
	top: 153.37px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_214 {
	fill: rgba(46,91,154,1);
}
.Path_214 {
	overflow: visible;
	position: absolute;
	width: 427.779px;
	height: 7.049px;
	left: 55.814px;
	top: 277.654px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_215 {
	fill: rgba(240,153,89,1);
}
.Path_215 {
	overflow: visible;
	position: absolute;
	width: 36.197px;
	height: 46.696px;
	left: 204.085px;
	top: 80.606px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_216 {
	opacity: 0.5;
	fill: rgba(46,91,154,1);
}
.Path_216 {
	overflow: visible;
	position: absolute;
	width: 36.197px;
	height: 46.696px;
	left: 204.085px;
	top: 80.606px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_217 {
	fill: rgba(46,91,154,1);
}
.Path_217 {
	overflow: visible;
	position: absolute;
	width: 54.732px;
	height: 31.373px;
	left: 203.27px;
	top: 69.203px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_218 {
	fill: rgba(240,153,89,1);
}
.Path_218 {
	overflow: visible;
	position: absolute;
	width: 10.623px;
	height: 15.767px;
	left: 207.582px;
	top: 98.785px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_87 {
	position: absolute;
	width: 97.038px;
	height: 57.81px;
	left: 325.906px;
	top: 73.501px;
	overflow: visible;
}
#Rectangle_9 {
	fill: rgba(158,200,255,1);
}
.Rectangle_9 {
	position: absolute;
	overflow: visible;
	width: 97.038px;
	height: 57.81px;
	left: 0px;
	top: 0px;
}
#Rectangle_10 {
	fill: rgba(255,255,255,1);
}
.Rectangle_10 {
	position: absolute;
	overflow: visible;
	width: 91.09px;
	height: 46.741px;
	left: 2.974px;
	top: 9.297px;
}
#Group_70 {
	position: absolute;
	width: 16.771px;
	height: 3.255px;
	left: 4.009px;
	top: 3.264px;
	overflow: visible;
}
#Rectangle_11 {
	fill: rgba(255,255,255,1);
}
.Rectangle_11 {
	position: absolute;
	overflow: visible;
	width: 3.617px;
	height: 3.255px;
	left: 0px;
	top: 0px;
}
#Rectangle_12 {
	fill: rgba(255,255,255,1);
}
.Rectangle_12 {
	position: absolute;
	overflow: visible;
	width: 3.617px;
	height: 3.255px;
	left: 6.577px;
	top: 0px;
}
#Rectangle_13 {
	fill: rgba(255,255,255,1);
}
.Rectangle_13 {
	position: absolute;
	overflow: visible;
	width: 3.617px;
	height: 3.255px;
	left: 13.154px;
	top: 0px;
}
#Group_82 {
	position: absolute;
	width: 84.912px;
	height: 41.232px;
	left: 6.063px;
	top: 12.052px;
	overflow: visible;
}
#Group_71 {
	position: absolute;
	width: 84.912px;
	height: 41.232px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_219 {
	fill: rgba(158,200,255,1);
}
.Path_219 {
	overflow: visible;
	position: absolute;
	width: 84.913px;
	height: 41.231px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_72 {
	position: absolute;
	width: 84.608px;
	height: 0.304px;
	left: 0.152px;
	top: 32.742px;
	overflow: visible;
}
#Rectangle_14 {
	fill: rgba(158,200,255,1);
}
.Rectangle_14 {
	position: absolute;
	overflow: visible;
	width: 84.608px;
	height: 0.304px;
	left: 0px;
	top: 0px;
}
#Group_73 {
	position: absolute;
	width: 84.608px;
	height: 0.304px;
	left: 0.152px;
	top: 24.556px;
	overflow: visible;
}
#Rectangle_15 {
	fill: rgba(158,200,255,1);
}
.Rectangle_15 {
	position: absolute;
	overflow: visible;
	width: 84.608px;
	height: 0.304px;
	left: 0px;
	top: 0px;
}
#Group_74 {
	position: absolute;
	width: 84.608px;
	height: 0.304px;
	left: 0.152px;
	top: 16.371px;
	overflow: visible;
}
#Rectangle_16 {
	fill: rgba(158,200,255,1);
}
.Rectangle_16 {
	position: absolute;
	overflow: visible;
	width: 84.608px;
	height: 0.304px;
	left: 0px;
	top: 0px;
}
#Group_75 {
	position: absolute;
	width: 84.608px;
	height: 0.304px;
	left: 0.152px;
	top: 8.185px;
	overflow: visible;
}
#Rectangle_17 {
	fill: rgba(158,200,255,1);
}
.Rectangle_17 {
	position: absolute;
	overflow: visible;
	width: 84.608px;
	height: 0.304px;
	left: 0px;
	top: 0px;
}
#Group_76 {
	position: absolute;
	width: 0.304px;
	height: 40.928px;
	left: 72.521px;
	top: 0.152px;
	overflow: visible;
}
#Rectangle_18 {
	fill: rgba(158,200,255,1);
}
.Rectangle_18 {
	position: absolute;
	overflow: visible;
	width: 0.304px;
	height: 40.928px;
	left: 0px;
	top: 0px;
}
#Group_77 {
	position: absolute;
	width: 0.304px;
	height: 40.928px;
	left: 60.435px;
	top: 0.152px;
	overflow: visible;
}
#Rectangle_19 {
	fill: rgba(158,200,255,1);
}
.Rectangle_19 {
	position: absolute;
	overflow: visible;
	width: 0.304px;
	height: 40.928px;
	left: 0px;
	top: 0px;
}
#Group_78 {
	position: absolute;
	width: 0.304px;
	height: 40.928px;
	left: 48.348px;
	top: 0.152px;
	overflow: visible;
}
#Rectangle_20 {
	fill: rgba(158,200,255,1);
}
.Rectangle_20 {
	position: absolute;
	overflow: visible;
	width: 0.304px;
	height: 40.928px;
	left: 0px;
	top: 0px;
}
#Group_79 {
	position: absolute;
	width: 0.304px;
	height: 40.928px;
	left: 36.261px;
	top: 0.152px;
	overflow: visible;
}
#Rectangle_21 {
	fill: rgba(158,200,255,1);
}
.Rectangle_21 {
	position: absolute;
	overflow: visible;
	width: 0.304px;
	height: 40.928px;
	left: 0px;
	top: 0px;
}
#Group_80 {
	position: absolute;
	width: 0.304px;
	height: 40.928px;
	left: 24.174px;
	top: 0.152px;
	overflow: visible;
}
#Rectangle_22 {
	fill: rgba(158,200,255,1);
}
.Rectangle_22 {
	position: absolute;
	overflow: visible;
	width: 0.304px;
	height: 40.928px;
	left: 0px;
	top: 0px;
}
#Group_81 {
	position: absolute;
	width: 0.304px;
	height: 40.928px;
	left: 12.087px;
	top: 0.152px;
	overflow: visible;
}
#Rectangle_23 {
	fill: rgba(158,200,255,1);
}
.Rectangle_23 {
	position: absolute;
	overflow: visible;
	width: 0.304px;
	height: 40.928px;
	left: 0px;
	top: 0px;
}
#Path_220 {
	fill: rgba(243,152,146,1);
}
.Path_220 {
	overflow: visible;
	position: absolute;
	width: 6.791px;
	height: 3.946px;
	left: 82.84px;
	top: 13.426px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_24 {
	fill: rgba(243,152,146,1);
}
.Rectangle_24 {
	position: absolute;
	overflow: visible;
	width: 6.791px;
	height: 3.946px;
	left: 82.84px;
	top: 29.944px;
}
#Rectangle_25 {
	fill: rgba(158,200,255,1);
}
.Rectangle_25 {
	position: absolute;
	overflow: visible;
	width: 9.36px;
	height: 5.827px;
	left: 19.521px;
	top: 21.548px;
}
#Rectangle_26 {
	fill: rgba(255,255,255,1);
}
.Rectangle_26 {
	position: absolute;
	overflow: visible;
	width: 6.723px;
	height: 4.186px;
	left: 20.84px;
	top: 22.368px;
}
#Rectangle_27 {
	fill: rgba(158,200,255,1);
}
.Rectangle_27 {
	position: absolute;
	overflow: visible;
	width: 9.36px;
	height: 5.827px;
	left: 67.974px;
	top: 46.049px;
}
#Rectangle_28 {
	fill: rgba(255,255,255,1);
}
.Rectangle_28 {
	position: absolute;
	overflow: visible;
	width: 6.723px;
	height: 4.186px;
	left: 69.292px;
	top: 46.87px;
}
#Path_221 {
	fill: rgba(158,200,255,1);
}
.Path_221 {
	overflow: visible;
	position: absolute;
	width: 6.515px;
	height: 1.284px;
	left: 46.684px;
	top: 21.961px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_222 {
	fill: rgba(158,200,255,1);
}
.Path_222 {
	overflow: visible;
	position: absolute;
	width: 6.515px;
	height: 1.285px;
	left: 46.684px;
	top: 23.979px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_223 {
	fill: rgba(158,200,255,1);
}
.Path_223 {
	overflow: visible;
	position: absolute;
	width: 6.515px;
	height: 1.285px;
	left: 35.122px;
	top: 46.324px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_224 {
	fill: rgba(158,200,255,1);
}
.Path_224 {
	overflow: visible;
	position: absolute;
	width: 6.515px;
	height: 1.285px;
	left: 35.122px;
	top: 48.344px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_225 {
	fill: rgba(158,200,255,1);
}
.Path_225 {
	overflow: visible;
	position: absolute;
	width: 6.516px;
	height: 1.285px;
	left: 8.005px;
	top: 31.045px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_226 {
	fill: rgba(158,200,255,1);
}
.Path_226 {
	overflow: visible;
	position: absolute;
	width: 6.516px;
	height: 1.284px;
	left: 8.005px;
	top: 33.064px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_227 {
	fill: rgba(158,200,255,1);
}
.Path_227 {
	overflow: visible;
	position: absolute;
	width: 6.516px;
	height: 1.284px;
	left: 58.522px;
	top: 21.961px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_228 {
	fill: rgba(158,200,255,1);
}
.Path_228 {
	overflow: visible;
	position: absolute;
	width: 6.516px;
	height: 1.285px;
	left: 58.522px;
	top: 23.979px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_84 {
	position: absolute;
	width: 10.186px;
	height: 5.917px;
	left: 19.384px;
	top: 38.113px;
	overflow: visible;
}
#Rectangle_29 {
	fill: rgba(156,212,153,1);
}
.Rectangle_29 {
	position: absolute;
	overflow: visible;
	width: 10.186px;
	height: 5.917px;
	left: 0px;
	top: 0px;
}
#Group_83 {
	position: absolute;
	width: 5.762px;
	height: 4.247px;
	left: 2.487px;
	top: 0.694px;
	overflow: visible;
}
#Path_229 {
	fill: rgba(255,255,255,1);
}
.Path_229 {
	overflow: visible;
	position: absolute;
	width: 5.762px;
	height: 4.247px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_86 {
	position: absolute;
	width: 10.186px;
	height: 5.917px;
	left: 55.586px;
	top: 13.198px;
	overflow: visible;
}
#Rectangle_30 {
	fill: rgba(156,212,153,1);
}
.Rectangle_30 {
	position: absolute;
	overflow: visible;
	width: 10.186px;
	height: 5.917px;
	left: 0px;
	top: 0px;
}
#Group_85 {
	position: absolute;
	width: 5.762px;
	height: 4.247px;
	left: 2.487px;
	top: 0.694px;
	overflow: visible;
}
#Path_230 {
	fill: rgba(255,255,255,1);
}
.Path_230 {
	overflow: visible;
	position: absolute;
	width: 5.762px;
	height: 4.247px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_231 {
	fill: rgba(158,200,255,1);
}
.Path_231 {
	overflow: visible;
	position: absolute;
	width: 5.506px;
	height: 5.506px;
	left: 57.65px;
	top: 38.112px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_232 {
	fill: rgba(158,200,255,1);
}
.Path_232 {
	overflow: visible;
	position: absolute;
	width: 5.506px;
	height: 5.506px;
	left: 21.999px;
	top: 46.508px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_88 {
	position: absolute;
	width: 58.106px;
	height: 33.227px;
	left: 312.224px;
	top: 122.944px;
	overflow: visible;
}
#Rectangle_31 {
	fill: rgba(158,200,255,1);
}
.Rectangle_31 {
	position: absolute;
	overflow: visible;
	width: 58.106px;
	height: 33.227px;
	left: 0px;
	top: 0px;
}
#Rectangle_32 {
	fill: rgba(255,255,255,1);
}
.Rectangle_32 {
	position: absolute;
	overflow: visible;
	width: 55.557px;
	height: 30.3px;
	left: 1.274px;
	top: 1.464px;
}
#Rectangle_33 {
	fill: rgba(158,200,255,1);
}
.Rectangle_33 {
	position: absolute;
	overflow: visible;
	width: 52.487px;
	height: 26.586px;
	left: 2.809px;
	top: 3.321px;
}
#Ellipse_11 {
	fill: rgba(255,255,255,1);
}
.Ellipse_11 {
	position: absolute;
	overflow: visible;
	width: 18.448px;
	height: 18.448px;
	left: 19.829px;
	top: 7.389px;
}
#Path_233 {
	fill: rgba(158,200,255,1);
}
.Path_233 {
	overflow: visible;
	position: absolute;
	width: 15.886px;
	height: 15.886px;
	left: 21.11px;
	top: 8.67px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_234 {
	fill: rgba(255,255,255,1);
}
.Path_234 {
	overflow: visible;
	position: absolute;
	width: 5.807px;
	height: 6.706px;
	left: 27.161px;
	top: 12.836px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_235 {
	fill: rgba(158,200,255,1);
}
.Path_235 {
	overflow: visible;
	position: absolute;
	width: 39.643px;
	height: 3.303px;
	left: 270.547px;
	top: 40.036px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_236 {
	fill: rgba(158,200,255,1);
}
.Path_236 {
	overflow: visible;
	position: absolute;
	width: 39.643px;
	height: 3.304px;
	left: 365.525px;
	top: 179.612px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_237 {
	fill: rgba(158,200,255,1);
}
.Path_237 {
	overflow: visible;
	position: absolute;
	width: 39.643px;
	height: 3.304px;
	left: 365.525px;
	top: 185.668px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_238 {
	fill: rgba(158,200,255,1);
}
.Path_238 {
	overflow: visible;
	position: absolute;
	width: 39.643px;
	height: 3.304px;
	left: 365.525px;
	top: 192.275px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_239 {
	fill: rgba(158,200,255,1);
}
.Path_239 {
	overflow: visible;
	position: absolute;
	width: 63.043px;
	height: 3.304px;
	left: 270.547px;
	top: 46.367px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_240 {
	fill: rgba(116,181,112,1);
}
.Path_240 {
	overflow: visible;
	position: absolute;
	width: 32.096px;
	height: 109.012px;
	left: 51.836px;
	top: 141.222px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_241 {
	fill: rgba(156,212,153,1);
}
.Path_241 {
	overflow: visible;
	position: absolute;
	width: 79.751px;
	height: 63.811px;
	left: 0px;
	top: 103.197px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_242 {
	fill: rgba(116,181,112,1);
}
.Path_242 {
	overflow: visible;
	position: absolute;
	width: 46.74px;
	height: 60.617px;
	left: 48.007px;
	top: 183.423px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_243 {
	fill: rgba(156,212,153,1);
}
.Path_243 {
	overflow: visible;
	position: absolute;
	width: 19.624px;
	height: 82.999px;
	left: 67.107px;
	top: 163.244px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_244 {
	fill: rgba(116,181,112,1);
}
.Path_244 {
	overflow: visible;
	position: absolute;
	width: 8.493px;
	height: 28.001px;
	left: 67.795px;
	top: 200.173px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_245 {
	fill: rgba(156,212,153,1);
}
.Path_245 {
	overflow: visible;
	position: absolute;
	width: 69.069px;
	height: 55.567px;
	left: 7.098px;
	top: 180.668px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_246 {
	fill: rgba(156,212,153,1);
}
.Path_246 {
	overflow: visible;
	position: absolute;
	width: 64.225px;
	height: 46.343px;
	left: 76.141px;
	top: 150.653px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_247 {
	fill: rgba(116,181,112,1);
}
.Path_247 {
	overflow: visible;
	position: absolute;
	width: 40.74px;
	height: 39.702px;
	left: 11.954px;
	top: 187.904px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_248 {
	fill: rgba(116,181,112,1);
}
.Path_248 {
	overflow: visible;
	position: absolute;
	width: 59.28px;
	height: 43.13px;
	left: 9.198px;
	top: 114.733px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_34 {
	fill: rgba(243,152,146,1);
}
.Rectangle_34 {
	position: absolute;
	overflow: visible;
	width: 40.359px;
	height: 40.473px;
	left: 64.937px;
	top: 237.818px;
}
#Group_94 {
	position: absolute;
	width: 30px;
	height: 30px;
	left: 1139.716px;
	top: 30px;
	overflow: visible;
}
#Ellipse_98 {
	opacity: 0.43;
	fill: rgba(220,225,238,1);
}
.Ellipse_98 {
	position: absolute;
	overflow: visible;
	width: 30px;
	height: 30px;
	left: 0px;
	top: 0px;
}
#close {
	fill: rgba(46,56,77,1);
	stroke: rgba(117,124,138,1);
	stroke-width: 0.699999988079071px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.close {
	overflow: visible;
	position: absolute;
	width: 11.546px;
	height: 11.546px;
	left: 9.5px;
	top: 9.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-ios-wallet {
	position: absolute;
	width: 35.627px;
	height: 32.888px;
	left: 381.142px;
	top: 223.427px;
	overflow: visible;
}
#Path_569_e {
	fill: url(#Path_569_e);
}
.Path_569_e {
	overflow: visible;
	position: absolute;
	width: 35.627px;
	height: 24.665px;
	left: 0px;
	top: 8.223px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_570_e {
	fill: url(#Path_570_e);
}
.Path_570_e {
	overflow: visible;
	position: absolute;
	width: 28.776px;
	height: 7.794px;
	left: 1.37px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}